/*
 * ================================================================
 * Fonts
 * ================================================================
 */
@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/Roboto-BoldItalic.ttf");
}

@font-face {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/fontawesome-webfont.ttf");
}


/*
 * ================================================================
 * RootLayout styles
 * ================================================================
 */
.root {
    -fx-background-color: white;
	-fx-padding: 10;
}

.root #userInput {
	-fx-font: 16px Roboto;
	-fx-focus-color: tomato;
	-fx-accent: tomato;
	-fx-faint-focus-color: transparent;
}


/*
 * ================================================================
 * Display styles
 * ================================================================
 */
.display #feedbackLabel {
	-fx-padding: 0 0 5 0;
	-fx-font: 14px Roboto;
	-fx-text-fill: tomato;
	-fx-font-style: italic;
}

.display #noTaskOverlay {
	-fx-background-color: RGB(255, 99, 71, 0.9);
	-fx-background-radius: 20;
	-fx-padding: 10;
}

.display #noTaskOverlayIcon {
	-fx-text-fill: white;
	-fx-font: 80px FontAwesome;
}

.display #noTaskOverlayGreeting {
	-fx-text-fill: white;
	-fx-font: 60px Roboto;
	-fx-font-weight: bold;
	-fx-padding: 0 0 10 0;
}

.display #noTaskOverlayMessage {
	-fx-text-fill: white;
	-fx-font: 18px Roboto;
}

.display #helpOverlay {
	-fx-background-color: RGB(255, 99, 71, 0.9);
	-fx-background-radius: 20;
	-fx-padding: 10;
}

.display #helpOverlayIcon {
	-fx-padding: 20 0 0 0;
	-fx-text-fill: white;
	-fx-font: 60px FontAwesome;
}

.display #helpOverlayTitle {
	-fx-text-fill: white;
	-fx-font: 50px Roboto;
	-fx-font-weight: bold;
	-fx-padding: 0 0 10 0;
}

.display #helpOverlayContents {
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.display #helpOverlayContents .list-cell {
	-fx-padding: 2 0 2 0;
	-fx-background-color: transparent;
}

.display .list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.display .list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.display .list-view {
	-fx-padding: 8 15 8 15;
	-fx-background-color: white;
}

.display .list-cell {
	-fx-padding: 0 0 1 0;
	-fx-background-color: white;
}


/*
 * ================================================================
 * CategoryBox styles
 * ================================================================
 */
.categoryBox {
	-fx-padding: 5 0 5 0;
	-fx-font-family: Roboto;
	-fx-font-size: 20px;
	-fx-font-style: italic;
	-fx-background-color: transparent;
}

.categoryBox #category {
	-fx-font-weight: 700;
	-fx-text-fill: tomato;
}

.categoryBox #date {
	-fx-padding: 0 0 0 5;
	-fx-font-size: 14px;
	-fx-text-fill: gray;
}


/*
 * ================================================================
 * HelpBox styles
 * ================================================================
 */
.helpBox {
	-fx-padding: 0;
	-fx-font-family: Roboto;
	-fx-font-size: 16px;
	-fx-background-color: transparent;
}

.helpBox #command {
	-fx-font-weight: 700;
	-fx-text-fill: white;
}

.helpBox #description {
	-fx-text-fill: white;
}


/*
 * ================================================================
 * TaskBox styles
 * ================================================================
 */
.taskBox {
	-fx-padding: 1 0 1 20;
	-fx-background-radius: 5;
	-fx-font-family: Roboto;
	-fx-font-size: 16px;
}

.taskBox #checkbox {
	-fx-font-size: 11px;
} 

.taskBox #index {
	-fx-padding: 0 5 0 5;
	-fx-text-fill: dimgray;
}

.taskBox #recurringIcon {
	-fx-font: 14px FontAwesome;
	-fx-text-fill: tomato;
}

.taskBox #description {
	-fx-padding: 0 0 0 5;
	-fx-text-fill: black;
}

.taskBox #timeAndDate {
	-fx-padding: 1 0 0 8;
	-fx-font-size: 13px;
	-fx-text-fill: gray;
}

.taskBox #delete {
	-fx-font: 14px FontAwesome;
	-fx-text-fill: transparent;
	-fx-background-color: transparent;
}

.taskBox #delete:hover {
	-fx-text-fill: tomato;
}