
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}


.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}
.list-cell {
	-fx-padding: 10;
	-fx-height:100%;
	-fx-background-color:yellow;
}

