@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/Roboto-BoldItalic.ttf");
}

@font-face {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/fontawesome-webfont.ttf");
}

/*
 * ================================================================
 * RootLayout styles
 * ================================================================
 */
 
.root {
	-fx-background-color: white;
	-fx-padding: 10;
}

.root #userInput {
	-fx-font: 16px Roboto;
	-fx-focus-color: tomato;
	-fx-accent: tomato;
	-fx-faint-focus-color: transparent;
}


/*
 * ================================================================
 * Display styles
 * ================================================================
 */

.display #feedbackLabel {
	-fx-padding: 0 0 5 0;
	-fx-font: 14px Roboto;
	-fx-text-fill: tomato;
	-fx-font-style: italic;
}


/*
 * ================================================================
 * ListView styles
 * ================================================================
 */

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.list-view {
	-fx-padding: 8;
	-fx-background-color: transparent;
}

/*
 * ================================================================
 * list-cell styles
 * ================================================================
 */

.list-cell {
	-fx-padding: 0;
	-fx-background-color: white;
}

/*
 * ================================================================
 * CategoryBox styles
 * ================================================================
 */

.categoryBox {
	-fx-padding: 5 0 5 0;
	-fx-font-family: Roboto;
	-fx-font-size: 20px;
	-fx-font-style: italic;
	-fx-background-color: white;
	
}

.categoryBox #category {
	-fx-font-weight: 700;
	-fx-text-fill: tomato;
}

.categoryBox #date {
	-fx-padding: 0 0 0 5;
	-fx-font-size: 14px;
	-fx-text-fill: gray;
}

/*
 * ================================================================
 * HelpBox styles
 * ================================================================
 */
.helpBox {
	-fx-padding: 5 0 5 0;
	-fx-font-family: Roboto;
	-fx-font-size: 20px;
	-fx-font-style: italic;
	-fx-background-color: white;
}

.helpBox #category {
	-fx-font-weight: 700;
	-fx-text-fill: tomato;
}

/*
 * ================================================================
 * TitleBox styles
 * ================================================================
 */
.titleBox {
	-fx-padding: 5 0 5 0;
	-fx-font-family: Roboto;
	-fx-font-size: 40px;
	-fx-font-style: italic;
	-fx-background-color: white;
}

.titleBox #title {
	-fx-font-weight: 700;
	-fx-text-fill: tomato;
}


/*
 * ================================================================
 * TaskBox styles
 * ================================================================
 */

.taskBox {
	-fx-padding: 5 0 5 20;
	-fx-font-family: Roboto;
	-fx-font-size: 16px;
}

.taskBox #checkbox {
	-fx-font-size: 11px;
} 

.taskBox #index {
	-fx-padding: 0 5 0 5;
	-fx-text-fill: dimgray;
}

.taskBox #description {
	-fx-padding: 0 0 0 5;
	-fx-text-fill: black;
}


.taskBox #delete {
	-fx-font: 14px FontAwesome;
	-fx-text-fill: transparent;
	-fx-background-color: transparent;
}

.taskBox #delete:hover {
	-fx-text-fill: tomato;
}

